*{
  box-sizing: border-box;
}
body {
  background-color: black;
  color:white;
  justify-content: center;
  align-items: center;
}

.chill-btn{
  border-radius: 15px;
  background: #141419;
  box-shadow:6px 6px 7px #151520,
  -6px -6px 7px #1f1f30;
  border: 2px;
  color: white;
  padding:1rem;
}

.chill-btn:focus {
  outline:0;
}

.header{
  background: #24242d;
  display:flex;
  padding: 1rem;
  justify-content: flex-end;
}
.search{
  border: 2px;
  border-radius:50px;
  background-color:  #141419;
  padding: 0.5rem;
  color: white;
  margin-right: 15px;
}

.search:focus {
  outline:0;
}

.movie{
  width: 300px;
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background: #24242d;
  box-shadow:  5px 5px 6px #333333,
  -5px -5px 6px #6b6b6b;
}
.movie img{
  max-width: 101%;
}

.movie-info{
  display:flex;
  align-items:center;
  padding: 1rem;
  justify-content: space-between;
}
.movie-container{
  display:flex;
  flex-wrap: wrap;
}

.movie-over{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 19.0px );
  -webkit-backdrop-filter: blur( 19.0px );
  border-radius: 10px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  padding:1rem;
  font-size:11px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}


.movie:hover .movie-over{
  transform: translateY(0%)
}

.tag{
  background-color:#343441;
  padding:0.5rem;
  border-radius: 100%;
}

.tag.green{
  color: green;
}

.tag.orange{
  color: orange;
}

.tag.red{
  color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
