*{
  box-sizing: border-box;
}
body {
  background-color: black;
  color:white;
}
.movie{
  width: 300px;
  margin: 1rem;
  border-radius: 8px;
  background: #202022;
  box-shadow:  20px 20px 60px #1b1b1d,
             -20px -20px 60px #252527;
}
.movie img{
  max-width: 100%;
}

.movie-info{
  display:flex;
  align-items:center;
  padding: 1rem;
  justify-content: space-between;
}
.movie-container{
  display:flex;
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
